body
{
    font-family: 'Rubik', sans-serif;
    background-color: #fbf8ef;
    --gap-table: 10px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#table
{
    display: flex;
    position: relative;
    aspect-ratio: 1/1;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-table);
    background-color: #bbada0;

}

.rowTable
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-table);
}

.colTable
{
    height: 50px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: 0.75rem;
}